# chungus

In [1]:
import numpy, pandas as pd, json

## 1. Just checking to see if json loading works

In [2]:
with open('activity-dataset-team2/activity-team2-Driving-0.txt', 'r') as f:
    d2 = json.loads(f.read().replace('\'','\"'))

In [3]:
d2['seq'][0]

{'data': {'xGyro': -46,
  'zAccl': 1345,
  'yGyro': 34,
  'zGyro': -20,
  'xAccl': -37,
  'xMag': -811,
  'yMag': 565,
  'zMag': 1287,
  'yAccl': 22},
 'time': 1522977958.269925}

## 2. loading stuff and 5-number summaries of each

### Driving

In [4]:
with open('activitydataset/activity-dataset-Driving.txt', 'r') as f:
    dr = json.loads(f.read().replace('\'','\"'))

In [5]:
dr[0]['seq'][0]

{'data': {'xGyro': -40,
  'zAccl': 1345,
  'yGyro': 39,
  'zGyro': -20,
  'xAccl': -43,
  'xMag': -1018,
  'yMag': 417,
  'zMag': -98,
  'yAccl': 24},
 'time': 1522978353.755406}

In [6]:
posdata = [item['data'] for item in dr[0]['seq']]
drdf = pd.DataFrame(posdata)

In [7]:
drdf.head()

   xAccl  xGyro  xMag  yAccl  yGyro  yMag  zAccl  zGyro  zMag
0    -43    -40 -1018     24     39   417   1345    -20   -98
1    -39    -39 -1018     18     39   417   1395    -17   -98
2    -45    -39 -1018     25     35   417   1346    -19   -99
3    -37    -42 -1018     20     35   418   1354    -19   -99
4    -37    -46 -1018     20     36   418   1347    -16   -99

In [8]:
drdf.describe()

,xAccl,xGyro,xMag,yAccl,yGyro,yMag,zAccl,zGyro,zMag
count,2434.000000,2434.000000,2434.000000,2434.000000,2434.000000,2434.000000,2434.000000,2434.000000,2434.000000
mean,-48.605998,-42.737469,-830.160230,7.697617,33.581348,824.555875,1360.955218,113.874281,732.201315
std,94.973627,42.542169,818.540345,80.904356,50.067732,986.022501,111.744332,477.138994,888.987575
min,-1000.000000,-256.000000,-3249.000000,-303.000000,-248.000000,-1332.000000,842.000000,-998.000000,-965.000000
25%,-90.000000,-59.000000,-1239.000000,-27.000000,16.000000,86.000000,1301.000000,-261.000000,98.000000
50%,-50.000000,-44.000000,-816.500000,12.000000,35.000000,740.000000,1361.000000,-13.000000,516.000000
75%,-15.000000,-26.000000,-327.500000,48.000000,54.000000,1201.250000,1423.750000,359.250000,1372.500000
max,793.000000,251.000000,1253.000000,379.000000,304.000000,3077.000000,2151.000000,1071.000000,2988.000000

### Jumping

In [9]:
with open('activitydataset/activity-dataset-Jumping.txt', 'r') as f:
    jp = json.loads(f.read().replace('\'','\"'))
jpdf = pd.DataFrame([item['data'] for item in jp[0]['seq']])
jpdf.describe()

,xAccl,xGyro,xMag,yAccl,yGyro,yMag,zAccl,zGyro,zMag
count,3683.000000,3683.000000,3683.000000,3683.000000,3683.000000,3683.000000,3683.000000,3683.000000,3683.000000
mean,-138.983437,-48.033668,-731.663046,-38.564757,71.254955,415.126527,1374.486831,-266.811838,353.046973
std,326.198373,550.117111,404.858856,380.398307,666.103813,252.495908,1407.978629,1134.559938,120.736436
min,-1427.000000,-1926.000000,-1506.000000,-1779.000000,-2093.000000,-87.000000,-916.000000,-3323.000000,-3.000000
25%,-304.500000,-402.000000,-1101.000000,-204.000000,-385.000000,183.000000,128.000000,-961.500000,274.000000
50%,-125.000000,-72.000000,-737.000000,-16.000000,153.000000,450.000000,994.000000,-348.000000,371.000000
75%,42.000000,299.000000,-385.000000,159.500000,546.000000,615.500000,2509.000000,238.000000,443.000000
max,1742.000000,2002.000000,140.000000,2103.000000,2274.000000,936.000000,5918.000000,5287.000000,766.000000

### Standing

In [10]:
with open('activitydataset/activity-dataset-Standing.txt', 'r') as f:
    st = json.loads(f.read().replace('\'','\"'))
stdf = pd.DataFrame([item['data'] for item in st[0]['seq']])
stdf.describe()

,xAccl,xGyro,xMag,yAccl,yGyro,yMag,zAccl,zGyro,zMag
count,3659.000000,3659.000000,3659.00000,3659.000000,3659.000000,3659.000000,3659.000000,3659.000000,3659.000000
mean,84.398470,-45.564635,-457.57502,-41.668762,37.035529,666.990981,1350.385624,-14.467341,491.449576
std,13.628286,21.101200,5.98303,19.086108,23.684465,10.189762,19.076455,24.470370,7.040488
min,41.000000,-244.000000,-475.00000,-121.000000,-45.000000,649.000000,1285.000000,-255.000000,459.000000
25%,75.000000,-59.000000,-461.00000,-53.000000,24.000000,660.000000,1338.000000,-26.000000,487.000000
50%,84.000000,-46.000000,-457.00000,-41.000000,36.000000,664.000000,1351.000000,-15.000000,492.000000
75%,94.000000,-33.000000,-453.00000,-30.000000,50.000000,672.000000,1363.000000,-4.000000,496.000000
max,133.000000,55.000000,-444.00000,251.000000,253.000000,699.000000,1477.000000,255.000000,515.000000

### Walking

In [11]:
with open('activitydataset/activity-dataset-Walking.txt', 'r') as f:
    wk = json.loads(f.read().replace('\'','\"'))
wkdf = pd.DataFrame([item['data'] for item in wk[0]['seq']])
wkdf.describe()

,xAccl,xGyro,xMag,yAccl,yGyro,yMag,zAccl,zGyro,zMag
count,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000,3665.000000
mean,-6.266303,-52.991814,-695.261664,392.923602,30.819100,191.780082,1300.355252,-124.377626,232.047749
std,95.495553,229.389803,330.127929,211.946071,310.131853,346.967031,236.114972,629.867271,105.817259
min,-283.000000,-878.000000,-1281.000000,-49.000000,-883.000000,-508.000000,776.000000,-1574.000000,-153.000000
25%,-75.000000,-196.000000,-971.000000,231.000000,-184.000000,-84.000000,1126.000000,-563.000000,165.000000
50%,-13.000000,-51.000000,-711.000000,366.000000,-10.000000,292.000000,1244.000000,-183.000000,236.000000
75%,49.000000,89.000000,-407.000000,517.000000,207.000000,461.000000,1480.000000,321.000000,317.000000
max,493.000000,754.000000,5.000000,1235.000000,1009.000000,915.000000,1890.000000,1593.000000,503.000000