# chungus

In [1]:
import numpy as np, pandas as pd, json
from sklearn.neighbors import KNeighborsClassifier

## 1. Just checking to see if json loading works

In [2]:
with open('activity-dataset-team2/activity-team2-Driving-0.txt', 'r') as f:
    d2 = json.loads(f.read().replace('\'','\"'))

In [3]:
d2['seq'][0]

{'data': {'xGyro': -46,
  'zAccl': 1345,
  'yGyro': 34,
  'zGyro': -20,
  'xAccl': -37,
  'xMag': -811,
  'yMag': 565,
  'zMag': 1287,
  'yAccl': 22},
 'time': 1522977958.269925}

## 2. testing to see how well k-neighbors works

First, we take a look at the five-number summaries of the datasets from our own team, then train the k-neighbors clustering off those datasets. We then test that clustering for accuracy on the cumulative dataset provided.

### Driving

In [4]:
with open('activity-dataset-team2/activity-team2-Driving-0.txt', 'r') as f:
    dr = json.loads(f.read().replace('\'','\"'))['seq']
with open('activity-dataset-team2/activity-team2-Driving-1.txt', 'r') as f:
    dr.extend(json.loads(f.read().replace('\'','\"'))['seq'])
drdf = pd.DataFrame([item['data'] for item in dr])
drdf.describe()

,xAccl,xGyro,xMag,yAccl,yGyro,yMag,zAccl,zGyro,zMag
count,2451.000000,2451.000000,2451.000000,2451.000000,2451.000000,2451.000000,2451.000000,2451.000000,2451.000000
mean,-51.414117,-37.947776,-754.173807,-10.391677,31.245614,516.290902,1360.616891,426.650347,877.036312
std,129.575566,58.888034,750.589285,111.404213,64.807659,616.516414,157.668859,621.393544,1336.663820
min,-885.000000,-255.000000,-2942.000000,-454.000000,-357.000000,-887.000000,294.000000,-987.000000,-3806.000000
25%,-107.000000,-69.000000,-1060.000000,-75.000000,-3.000000,180.000000,1275.500000,-18.000000,49.000000
50%,-51.000000,-40.000000,-668.000000,3.000000,33.000000,473.000000,1364.000000,852.000000,750.000000
75%,-3.000000,-5.000000,-280.000000,52.000000,64.000000,715.000000,1447.500000,941.000000,1479.500000
max,827.000000,254.000000,1251.000000,358.000000,475.000000,2570.000000,2222.000000,1279.000000,3858.000000

### Jumping

In [5]:
with open('activity-dataset-team2/activity-team2-Jumping-0.txt', 'r') as f:
    jp = json.loads(f.read().replace('\'','\"'))['seq']
with open('activity-dataset-team2/activity-team2-Jumping-1.txt', 'r') as f:
    jp.extend(json.loads(f.read().replace('\'','\"'))['seq'])
jpdf = pd.DataFrame([item['data'] for item in jp])
jpdf.describe()

,xAccl,xGyro,xMag,yAccl,yGyro,yMag,zAccl,zGyro,zMag
count,2515.000000,2515.000000,2515.000000,2515.000000,2515.000000,2515.000000,2515.000000,2515.000000,2515.000000
mean,-8.391252,-77.035785,-674.386083,43.044930,23.081511,303.003181,1332.615109,-63.837773,378.735586
std,354.656080,915.959137,171.773185,486.063364,625.037616,287.913255,1663.227054,961.700875,122.872807
min,-1005.000000,-3294.000000,-1104.000000,-1752.000000,-2224.000000,-255.000000,-2501.000000,-4194.000000,-64.000000
25%,-210.000000,-574.500000,-812.000000,-209.500000,-328.000000,103.000000,8.500000,-343.000000,311.000000
50%,-42.000000,-8.000000,-673.000000,37.000000,29.000000,203.000000,1000.000000,34.000000,395.000000
75%,120.000000,456.500000,-539.000000,298.500000,397.000000,414.000000,2528.000000,343.000000,446.000000
max,1706.000000,4555.000000,-274.000000,3272.000000,1904.000000,1265.000000,6070.000000,3745.000000,704.000000

### Standing

In [6]:
with open('activity-dataset-team2/activity-team2-Standing-0.txt', 'r') as f:
    st = json.loads(f.read().replace('\'','\"'))['seq']
with open('activity-dataset-team2/activity-team2-Standing-1.txt', 'r') as f:
    st.extend(json.loads(f.read().replace('\'','\"'))['seq'])
stdf = pd.DataFrame([item['data'] for item in st])
stdf.describe()

,xAccl,xGyro,xMag,yAccl,yGyro,yMag,zAccl,zGyro,zMag
count,2468.000000,2468.000000,2468.000000,2468.000000,2468.000000,2468.000000,2468.000000,2468.000000,2468.000000
mean,19.451783,-49.989060,-730.020259,47.084684,34.098460,879.023906,1356.899514,-27.446110,473.672204
std,55.504756,97.546943,53.991783,79.720319,87.419134,52.763545,33.905022,114.636699,21.305162
min,-255.000000,-593.000000,-1024.000000,-255.000000,-318.000000,742.000000,1056.000000,-477.000000,422.000000
25%,-20.000000,-83.000000,-764.250000,-6.000000,-5.000000,851.000000,1337.000000,-40.000000,459.000000
50%,23.000000,-46.500000,-719.000000,40.000000,33.000000,892.000000,1355.500000,-17.500000,472.000000
75%,63.000000,-13.000000,-694.000000,98.000000,70.250000,917.000000,1375.000000,2.000000,487.000000
max,255.000000,407.000000,-513.000000,332.000000,432.000000,981.000000,1501.000000,447.000000,760.000000

### Walking

In [7]:
with open('activity-dataset-team2/activity-team2-Walking-0.txt', 'r') as f:
    wk = json.loads(f.read().replace('\'','\"'))['seq']
with open('activity-dataset-team2/activity-team2-Walking-1.txt', 'r') as f:
    wk.extend(json.loads(f.read().replace('\'','\"'))['seq'])
wkdf = pd.DataFrame([item['data'] for item in wk])
wkdf.describe()

,xAccl,xGyro,xMag,yAccl,yGyro,yMag,zAccl,zGyro,zMag
count,2532.000000,2532.000000,2532.000000,2532.000000,2532.000000,2532.000000,2532.000000,2532.000000,2532.000000
mean,65.973144,-53.250790,-818.471169,-1.568720,53.955371,487.629542,1347.898104,-191.927725,297.317141
std,141.022969,334.246815,361.460357,188.067438,391.813170,217.148674,266.676488,916.759888,154.643443
min,-332.000000,-1039.000000,-1369.000000,-762.000000,-1428.000000,-255.000000,678.000000,-2289.000000,-53.000000
25%,-28.000000,-282.500000,-1131.250000,-128.000000,-197.250000,322.000000,1143.000000,-886.500000,169.000000
50%,69.000000,-44.000000,-987.500000,-2.000000,77.500000,532.000000,1339.000000,-271.500000,344.000000
75%,160.000000,187.250000,-429.000000,132.000000,322.250000,652.000000,1533.000000,552.500000,401.250000
max,536.000000,857.000000,-193.000000,580.000000,1232.000000,850.000000,2221.000000,1947.000000,583.000000

### Training k-neighbors

In [8]:
#attach labels
drdf['class'] = 0
jpdf['class'] = 1
stdf['class'] = 2
wkdf['class'] = 3
#create a super-chungus
df = pd.concat([drdf,jpdf,stdf,wkdf])
X = df.iloc[:,:-1]
y = df['class']
kn = KNeighborsClassifier().fit(X,y)

### Testing k-neighbors

#### Loading cumulative datasets

In [9]:
with open('activitydataset/activity-dataset-Driving.txt', 'r') as f:
    dr = json.loads(f.read().replace('\'','\"'))
posdata = [item['data'] for item in dr[0]['seq']]
drtest = pd.DataFrame(posdata)

In [10]:
with open('activitydataset/activity-dataset-Jumping.txt', 'r') as f:
    jp = json.loads(f.read().replace('\'','\"'))
jptest = pd.DataFrame([item['data'] for item in jp[0]['seq']])

In [11]:
with open('activitydataset/activity-dataset-Standing.txt', 'r') as f:
    st = json.loads(f.read().replace('\'','\"'))
sttest = pd.DataFrame([item['data'] for item in st[0]['seq']])

In [12]:
with open('activitydataset/activity-dataset-Walking.txt', 'r') as f:
    wk = json.loads(f.read().replace('\'','\"'))
wktest = pd.DataFrame([item['data'] for item in wk[0]['seq']])

In [13]:
drtest['class'] = 0
jptest['class'] = 1
sttest['class'] = 2
wktest['class'] = 3
test = pd.concat([drtest,jptest,sttest,wktest])

#### Testing on cumulative dataset

In [14]:
len(np.where(test['class']==kn.predict(test.iloc[:,:-1]))[0])/len(test['class'])

0.6786697418346849